@(message: String)

@main("FestivalPlay") {
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
<!-- took out script code //-->
<style type="text/css">
	
	.site-wrapper {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 50%;
		height: 50%;
	}
	.site-wrapper-inner {
		position: absolute;
		right: -250px;
		bottom: -30px;
		width: 500px;
		height: 100px;
	}
	
</style>
</head>
<body onload="doit()">

<br><br>
		<div id = "banner"></div>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div id="creating" style="text-align: center;">
			</div>
			<div id="done" style="display: none; text-align: center;">
				<h1 id = "title">Logged in!</h1>
					
		<form action = "@routes.Application.generate()" method = "post" style = "color: black">
	    	<input type = "search" placeholder = "Search..." name = "name"  />

	    </form>
	    
			</div>
		</div>
	</div>
</body>
</html>
}
