@(message: String)

@main("FestivalPlay") {
<html>

<head>
<script type = "text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
<link rel = "stylesheet" type = "text/css" href = "main.css">

<style type="text/css">

	.site-wrapper {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 50%;
		height: 50%;
	}
	.site-wrapper-inner {
		position: absolute;
		right: -250px;
		bottom: -30px;
		width: 500px;
		height: 100px;
	}
	
	
</style>

</head>

	<body>
<br>
		<div id = "banner"></div>
		<div class = "site-wrapper"><div class="site-wrapper-inner">
		<center><div id = "title">Festival<font style = "color:#336633;">Play</font></div>
		
		<form action = "@routes.Application.getFestival()" method = "post">
		<button style = "Font-family: Arial; font-size:18px">Login First!</button>
		</form> 
		</div>
		</div>

	    </center>
    </body>
</html>
}