@(message: String)

@main("FestivalPlay") {
<html>

<head>
<script type = "text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
<link rel = "stylesheet" type = "text/css" href = "main.css">
<script>
$(function(){
	$('#login').click(function() {
		var client_id = "e61890b23e6d46eeb90fc9818cbe4c29";
		var redirect_uri = 'http://localhost:9000/callback.html';
		var url = 'https://accounts.spotify.com/authorize?client_id=' + client_id +
			'&response_type=code' +
			'&scope=playlist-modify-public' +
			'&redirect_uri=' + encodeURIComponent(redirect_uri);
		var w = window.open(url, 'asdf', 'WIDTH=400,HEIGHT=550');
	});
});
</script>
</head>

	<body style = "background-color: #343635">
		<br>
		<center><div id = "title">FestivalPlay</div>
			
		<form action = "@routes.Application.getFestival()" method = "post">
	    	<input type = "search" placeholder = "Search..." name = "name" />
	    	<button>Get Playlist</button>
	    </form><br>
	    
	    <br>
	    <br>
	    </center>
    </body>
</html>
}